<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size="12">
            <ion-segment value="Brasil">
                <ion-segment-button value="Brasil" routerLink="/brasil">
                    <ion-label>Brasil</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Russia">
                    <ion-label>Russia</ion-label>
                </ion-segment-button>
                <ion-segment-button value="India">
                    <ion-label>India</ion-label>
                </ion-segment-button>
                <ion-segment-button value="China">
                    <ion-label>China</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Africa">
                    <ion-label>Africa do Sul</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Italia">
                    <ion-label>Italia</ion-label>
                </ion-segment-button>
                <ion-segment-button value="Mexico">
                    <ion-label>Mexico</ion-label>
                </ion-segment-button>
            </ion-segment>
        </ion-col>
    </ion-row>
    
    <ion-row>
        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJ2UrnATxpeQU82D4uaANn50jHBAJgXHLzrL8aiEYlhQ&s=10" alt="">
                <ion-card-header>
                    <ion-card-title>Cristo Redentor</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque facilis nihil nemo id, reprehenderit ipsa molestias eum optio voluptatibus similique porro delectus nam quisquam qui, asperiores quasi, deserunt neque obcaecati.
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOTgozVZuw8qRlgJFZ7HVAPXM2317Oprp_g-7jSRInkA&s=10" alt="">
                <ion-card-header>
                    <ion-card-title>Russia</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque facilis nihil nemo id, reprehenderit ipsa molestias eum optio voluptatibus similique porro delectus nam quisquam qui, asperiores quasi, deserunt neque obcaecati.
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOTgozVZuw8qRlgJFZ7HVAPXM2317Oprp_g-7jSRInkA&s=10" alt="">
                <ion-card-header>
                    <ion-card-title>Russia</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque facilis nihil nemo id, reprehenderit ipsa molestias eum optio voluptatibus similique porro delectus nam quisquam qui, asperiores quasi, deserunt neque obcaecati.
                </ion-card-content>
            </ion-card>
        </ion-col>
        
    </ion-row>
    
</ion-content>

